{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepw" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="oldpw" placeholder="CurrentPassword" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="newpw" placeholder="NewPassword" type="password"/>
        </div>
        <div class = "form-group">
            <input class = "form-control" name = "confirmpw" placeholder="RetypePassword" type="password"/>
        </div>
        <button class="btn btn-info" type="submit">Change Password</button>
    </form>
{% endblock %}
