{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}



 <form action = "/quote" method = "post">
        <div class = form-group>

            <input autocomplete = "off" autofocus class = "form-control" name = "symbol" placeholder = "Stock Quote" type = "text" />
        </div>
        <button class = "btn btn-info" type = "submit">Quote</button>
    </form>
<!-- TradingView Widget -->
<div class="stockdata">
  <script src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js"></script>
</div>


{% endblock %}
